---
import '../styles/global.css'
import '../styles/404.css'
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap' rel='stylesheet' />

	<title>404_ERR</title>
	<link rel='icon' href='/photos/pfp.jpeg' />
</head>
<body>
	<main>
		<h1>( ._.)</h1>

		<h2>I don't know WHAT</h2>
		<h2>the fuck is going on.</h2>

		<h3>Good luck searching for it online though.</h3>
		<h3>Here's a useless number that Google has no results for. Try Bing. Just kidding.</h3>
		
		
		<p>
			<a href='/'>Home</a>
			&middot;
			<a href='/writing'>My Writing</a>
		</p>
	</main>
</body>
</html>
